<div class="alert alert-danger mt-1 mb-1">
	<hr />
	<div class="text-center">
	<h3>
		You have filled an incorrect data in the Book Table form
	</h3>
	</div>
</div>

<div class="text-center">
<a asp-controller="Home" asp-action="BookTable" class="btn btn-outline-success">
	Please go back and fill the form correctly
</a>
</div>
<p></p>